.feed-item-head {
  align-items: center;
}

.feed-item-head-photo {
  margin-right: 1rem;
}

.feed-item-head-photo img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.fidi-name {
  color: var(--primary-light-color);
  font-size: 1rem;
  display: inline-block;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.fidi-action,
.fidi-date {
  color: var(--secondary-text-color);
  font-size: 0.875rem;
}

.feed-item-head-info {
  flex: 1;
}

.feed-item-head-btn {
  position: relative;
  margin-right: 0.25rem;
  cursor: pointer;
}

.feed-item-more-window {
  position: absolute;
  right: 0;
  display: none;
  width: max-content;
  padding: 0.25rem 0.25rem;
  border: 1px solid var(--lines-color);
  border-radius: 0.25rem;
  background-color: var(--background-color);
}

.feed-item-more-window a {
  display: block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  color: inherit;
  transition: 200ms;
}

.feed-item-more-window a:hover {
  background-color: var(--background-light-color);
}

.feed-item-head-btn img {
  width: 1.25rem;
  height: 1.25rem;
}

.feed-item-body {
  color: var(--primary-text-color);
  line-height: 1.25rem;
  font-size: 0.875rem;
}

.feed-item-body img {
  max-width: 100%;
}

.feed-item-buttons {
  border-top: 1px solid var(--lines-color);
  padding: 0.5rem 0;
}

.like-btn,
.msg-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 1.5rem;
  background-size: 1.5rem;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 2.25rem;
  margin-right: 1.25rem;
  font-size: 0.875rem;
}

.like-btn {
  background-image: url("../images/heart-off.svg");
  color: var(--buttons-color);
}
.like-btn.on {
  background-image: url("../images/heart-on.svg");
  color: var(--like-color);
}

.msg-btn {
  background-image: url("../images/comment.svg");
  color: var(--buttons-color);
}

.feed-item-comments {
  border-top: 1px solid var(--lines-color);
}

.fic-item-photo {
  margin-right: 0.5rem;
}

.fic-item-photo img {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
}

.fic-item-info a {
  display: block;
  margin-bottom: 0.25rem;
  color: var(--primary-light-color);
  font-size: 0.875rem;
  text-decoration: none;
}

.fic-item-info {
  color: var(--primary-text-color);
  font-size: 0.75rem;
}

.fic-item-form {
  flex: 1;
}

.fic-item-field {
  width: 100%;
  height: 2.25rem;
  border-radius: 1.25rem;
  border: 0.875rem;
	outline: 0;
  color: var(--primary-text-color);
  background-color: var(--background-color);
  font-size: 0.75rem;
  padding: 0 15px;
}
